---
layout: layout.liquid
title: 11ty Boilerplate
---
<header>
    <h1>Polaroid Cloud</h1>
</header>

<main>
    <section class="hero">
        <h2>Film to Phone<h2>
    </section>

    <section class="details>
        <h3> Any cloud, anytime.</h3>
        <p><p>
    </section>
</main>